{% extends "layout.html" %}
{% block content %}
  <h1>About</h1>
  <main>
    <section id="introduction">
      <h2>Introduction</h2>
      <p>
        Welcome to the Notes App. This app aims to provide a simple yet powerful solution for taking
        and organizing notes effectively.
      </p>
    </section>

    <section id="credits">
      <h2>Credits</h2>
      <p>
        Developed by <b>Monish Sudhagar (21BCE5926)</b> for the course "Database Systems" at VIT University 
        (Chennai Campus)
      </p>
      <p><b>Submitted to Prof. Deepika R.</b></p>
    </section>

    <section id="future-plans">
      <h2>Future Plans</h2>
      <p>
        We have plans to continue improving the Notes App by adding new features and enhancements based 
        on user feedback. Our goal is to make it the go-to app for note-taking, ensuring a seamless 
        experience for all users.
      </p>
    </section>
  </main>
{% endblock content %}
